body {
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Alegreya', serif;
  /* font-family: 'Tinos', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mq-editable-field {
  border-radius: 5px;
  width: 100%;
 }

 .mq-math-mode {
  /* font-family: 'Noto Serif', serif !important; */
  font-family: 'Alegreya', serif !important;
  /* font-size: 30px; */
  /* font-family: 'Tinos', serif !important; */
 }

/* var, big {
  
} */

#inputWrapper {
  margin-top: 10%;
  margin-left: 10%;
  height: 200px;
  width: 300px;
}

input {
  height: 100px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
