body {
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Alegreya', serif;
  /* font-family: 'Tinos', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mjx-char {
  /* font-family: 'Noto Serif', serif !important; */
  font-family: 'Alegreya', serif !important;
  /* font-size: 30px; */
  /* font-family: 'Tinos', serif !important; */
}

/* summation wrapper
.MJXp-mo {
  margin: 0 .15em;
} */
/* summation element  */
.MJXc-TeX-size2-R {
  font-size: 200% !important;
  padding-top: 12px !important;
  padding-bottom: 19px !important;
}

#inputWrapper {
  margin-top: 10%;
  margin-left: 10%;
  height: 200px;
  width: 300px;
}

input {
  height: 100px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
