body {
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Serif', serif !important; */
  /* font-family: 'Alegreya', serif !important; */
  /* font-family: 'Tinos', serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#brand {
  font-family: 'Alegreya', serif !important;
  height: 20% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.navbar {
  margin-bottom: 0px !important;
}
.navbar-toggler {
  float: right !important;
  /* padding: 0 !important; */
  margin-right: 10% !important;
}

.collapse {
  padding: 0 !important;
}

#title {
  text-align: center;
  font-size: 20px !important;
  margin-bottom: 10px;
  font-family: 'Alegreya', serif;
  cursor: pointer;
}
.navbar-nav {
  margin: 0 !important;
}

#brand, button {
  margin-right: 3em !important;
}

form {
  margin-left: 35% !important;
  width: 30% !important;
  display: inline-block !important;
  text-align: center !important;
}

#titleInput.form-group {
  /* width: 25% !important; */
  margin: 0 !important;
  padding: 0 !important;
  /* height: 20px !important; */
  float: left !important;
}

#titleSubmit {
  width: 25% !important;
  /* height: 20px !important; */
  /* float: right !important; */
  float: left;
}

#ul {
  margin-right: 2em;
  /* margin-left: 1em !important; */
}

ul {
  padding-inline-start: 2em !important;
}

#MathLines {
  border: 1px;
  border-style: dashed ;
  border-radius: 5px;
  border-top-color: lightblue ;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: lightblue;
  /* border-top: 3px; */
  padding-left: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  width: 90%;
  height: 120%;
}

.MathQuillWrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.mq-editable-field {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  /* height: 120% !important; */
 }

 .mq-root-block {
   /* height: 30px; */
   padding-top: 5px !important;

 }

 /* .mq-editable-field .mq-latex-command-input */
.mq-math-mode, .mq-math-mode .mq-editable-field {
  padding: 0 !important;
  margin: 0 !important;
  /* height: 30px !important; */
  padding-top: 5px !important;
  /* font-family: 'Alegreya', serif !important; */
  /* font-family: 'Inconsolata', monospace !important; */
  /* font-family: 'Old Standard TT', serif !important; */
  /* font-family: 'Playfair Display', serif !important; */
  /* font-family: 'Source Code Pro', monospace !important; */
 }

.mq-math-mode {
  padding: 0 !important;
  border-style: dashed !important;
  border-left-color: lightblue !important;
  border-right-color: lightblue !important;
  border-bottom-color: lightblue !important;
  border-top-color: transparent !important;
 }

 .mq-supsub {
  font-size: 60% !important;
  vertical-align: -0.3em !important;
 }

.mq-supsub.mq-sup-only {
  font-size: 60% !important;
  /* vertical-align: -0.1em !important; */
}
.mq-large-operator {
  vertical-align: 0em !important;
  line-height: inherit !important;
}

.mq-to {
  font-size: 60% !important;
 }

.mq-from {
  font-size: 60% !important;
  margin-top: 0.5em !important;
 }

 big {
   /* font-family: 'Alegreya', serif !important; */
   /* font-stretch: expanded !important; */
   /* font-family: 'EB Garamond', serif !important; */
  /* font-family: 'GFS Didot', serif !important;   */
  /* font-family: 'Noto Sans', sans-serif !important; */
   font-size: 120% !important;
   transform: scale(1.6, 1.3) !important;
   font-size-adjust: 0.28 !important;
   /* line-height: 1.1em !important; */
   margin-right: 0.2em !important;
   padding-left: 0.1em !important;
 }

#inputWrapper {
  margin-top: 10%;
  margin-left: 10%;
  height: 200px !important;
  width: 300px;
}

/* input {
  height: 200px !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* from viktorstrate react-mathquill:

body {
  margin: 90px 80px;
  font-family: Georgia, 'Times New Roman', Times, serif
}
.result-container {
  margin: 20px 0 0;
  max-width: 600px;
}
.result-latex {
  margin-left: 10px;
  font-weight: 600;
}
    
    */
